<!doctype html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Blazing chat</title>
</head>


<body>

<div class="navbar navbar-fixed-top navbar-inverse jsAppUser">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand">Blazing chat</a>
		</div>
		<div class="collapse navbar-collapse jsAppUser-container"></div>
	</div>
</div>


<div class="container content jsAppChat" style="min-height: 300px;">
	<div id="loading" style="font-family: Consolas, 'Liberation Mono', Courier, monospace; position: fixed; display: inline-block; width: 200px; margin: -1em 0 0 -100px; padding: 0; text-align: center; left: 50%; top: 50%; font-size: 20px; line-height: 2em; background: #fff; border-radius: 5px;"></div>
</div>

<script type="text/javascript">

	window.noCacheSuffix = document.location.search.match('noCache') && "_=" + (new Date()).getTime() || '';

	(function () {
		var loading = "\\|/—", tick = 0;
		(function animate() {
			tick = (tick + 1) % loading.length;
			var $element = document.querySelector('#loading');
			if ($element) {
				$element.innerHTML = ["Loading", loading[tick]].join(' ... ');
				setTimeout(animate, 100);
			}
		})();
	}());

	(function () {
		var head = document.querySelector('head'),
				script = document.createElement('script');
		script.type = 'text/javascript';
		script.async = true;
		script.setAttribute('data-main', ['./js/app.js', window.noCacheSuffix].join('?'));
		script.src = ['./js/vendor/require.js', window.noCacheSuffix].join('?');
		head.appendChild(script);
	}());
</script>


<script type="text/html" id="template-lib-messenger">
	<div class="jsLibMessenger" style="position: fixed; top: 50px; right: 0; padding: 1em; width: 30%;"></div>
</script>

<script type="text/html" id="template-lib-messenger-error">
	<div class="jsLibMessenger-message alert alert-danger"
			data-lib-messenger-autohide="30000"
			style="position: relative; padding-right: 2em; cursor: pointer;">
		<i class="fa fa-times" style="position: absolute; right: 0.5em; top: 0.5em; opacity: 0.5"></i>
		<%- text %>
	</div>
</script>

<script type="text/html" id="template-lib-messenger-message">
	<div class="jsLibMessenger-message alert alert-success"
			data-lib-messenger-autohide="2000"
			style="position: relative; padding-right: 2em; cursor: pointer;">
		<i class="fa fa-times" style="position: absolute; right: 0.5em; top: 0.5em; opacity: 0.5"></i>
		<%- text %>
	</div>
</script>


<script type="text/html" id="template-app-user-guest">
	<ul class="nav navbar-nav">
		<li class="dropdown ">
			<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
				Login <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="javascript:void(0)" class="jsAppAuth-login" data-app-auth="twitter"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
				</li>
				<li>
					<a href="javascript:void(0)" class="jsAppAuth-login" data-app-auth="facebook"><i class="fa fa-fw fa-facebook"></i> Facebook</a>
				</li>
				<li>
					<a href="javascript:void(0)" class="jsAppAuth-login" data-app-auth="github"><i class="fa fa-fw fa-github"></i> Github</a>
				</li>
			</ul>
		</li>
	</ul>
</script>
<script type="text/html" id="template-app-user-user">
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
				<img width="24" height="24" src="<%- user.avatar %>" alt="<%- user.name %>"/>
				<span><%- user.name %></span>
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="javascript:void(0)" class="jsAppAuth-logout"><i class="fa fa-signout"></i> Logout</a>
				</li>
			</ul>
		</li>
	</ul>
</script>

<script type="text/html" id="template-app-chat">
	<div class="jsAppChat-container">
		<div class="jsAppChat-formContainer"></div>
		<div class="jsAppChat-messages"></div>
	</div>
</script>

<script type="text/html" id="template-app-chat-message">
	<div class="jsAppChat-message">
		<%- user.name %>. <%- message.time %>: <%- message.text %>
	</div>
</script>

<script type="text/html" id="template-app-chat-form">
	<form class="jsAppChat-form">
		<input type="text" name="text"/>
		<input type="submit"/>
	</form>
</script>


</body>
</html>
